{% extends 'HomeBundle:Default:layout.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-xs-12">
                        <div class="card-box"> 
                            <h1 class="text-center">{{link.nom}} </h1>
                            <h5 class="text-center plan-title">
                                {% set first = true %}
                                {% for jiha in link.jihas %}
                                  {% if first == false %} | {%endif%} {{ jiha.name }}
                                  {% set first = false %}
                                {% endfor %}
                            </h5>
                        </div>
                        <div class="card-box"> 
                        {{ include('DawraBundle:link:_menu.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}