{% extends 'HomeBundle:Default:layout2.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="content-page" style="margin: 10px">
            <div class="row">
                <div class="col-sm-12 col-lg-12 col-xs-12">
                    <div class="card-box">
                        <h1 class="text-center">الدراسات التدريبية أوت  2018  </h1>
                        <h4 class="text-center"> اللجنةالوطنية لتنمية القيادات -- لجنةالثقافة الرقمية</h4>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
</div>
</div>
</div>
<footer class="footer text-right" style="right: 0px">
    <img src="{{ asset('bundles/home/images/favicon_1.png')}}" width="50px"> <span style="font-size: 20px;">الكشافة التونسية</span> 
</footer>
{%endblock%}
