{% extends 'HomeBundle:Default:layout.html.twig' %}

{% block body %}
    <div class="container-fluid" >
        <!-- Page Heading -->

        <!-- /.row -->
        <!-- Page Content -->
        <div class="content-page" style="margin: 10px">
            <!-- Start content -->
            
        </div>
       
    {% endblock %}
